<h1>About</h1>
<p>
	This app was built in Tal Safran's <%= link_to "Ruby and Rails class on Skillshare", "https://www.skillshare.com/classes/technology/Ruby-on-Rails-in-30-Days-Build-Your-First-Web-App/2136222497/classroom/discussions?via=view-notes&learnMode=1"%>
</p>